<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.ms.like.mapper.LikeMapper">
	<insert id="insertLike" parameterType="map">
		INSERT INTO `like`
		(
			`subjectId`
			,`userId`
			,`type`
			,`createdAt`
		)
		VALUES
		(
			#{subjectId}
			,#{userId}
			,#{type}
			,NOW()
		)
	</insert>
	
	<select id="selectLikeBySubjectIdUserIdType" parameterType="map" resultType="com.ms.like.domain.Like">
		SELECT
			`subjectId`
			,`userId`
			,`type`
			,`createdAt`
		FROM
			`like`
		WHERE
			`subjectId` = #{subjectId}
			AND `userId` = #{userId}
			AND `type` = #{type}
	</select>
	
	<select id="selectLikeCountBySubjectIdUserIdType" parameterType="map" resultType="int">
		SELECT
			COUNT(*)
		FROM
			`like`
		WHERE
			`subjectId` = #{subjectId}
			AND `userId` = #{userId}
			AND `type` = #{type}
	</select>
	
	<select id="selectLikeCountBySubjectIdType" parameterType="map" resultType="int">
		SELECT
			COUNT(*)
		FROM
			`like`
		WHERE
			`subjectId` = #{subjectId}
			AND `type` = 'like'
	</select>
	
	<select id="selectRecommendCountBySubjectIdType" parameterType="map" resultType="int">
		SELECT
			COUNT(*)
		FROM
			`like`
		WHERE
			`subjectId` = #{subjectId}
			AND `type` != 'like'
	</select>
	
	<delete id="deleteLike" parameterType="map">
		DELETE FROM `like`
		WHERE
			`subjectId` = #{subjectId}
			AND `userId` = #{userId}
	</delete>
</mapper>