<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.ms.product.mapper.ProductMapper">
	<insert id="insertProductByMap" parameterType="com.ms.product.domain.Product">
		<selectKey keyProperty="id" resultType="int">
       		SELECT LAST_INSERT_ID()
   		</selectKey>
		INSERT INTO `product`
		(
			`ownerId`
			,`name`
			,`company`
			,`price`
			,`imagePath`
			,`description`
			,`boughtDate`
			,`createdAt`
		)
		VALUES
		(
			#{ownerId}
			,#{name}
			,#{company}
			,#{price}
			,#{imagePath}
			,#{description}
			,#{boughtDate}
			,NOW()
		)
	</insert>
	
	<select id="selectProductCount" parameterType="map" resultType="int">
		SELECT
			COUNT(*)
		FROM
			`product`
		WHERE
			`completed` = #{completed}
		<if test="keyword != null">
			AND (`company` LIKE CONCAT('%', #{keyword}, '%')
			OR `description` LIKE CONCAT('%', #{keyword}, '%'))
		</if>
	</select>
	
	<select id="selectProductListByOwnerIdOrKeyword" parameterType="map" resultType="com.ms.product.domain.Product">
		SELECT
			`id`
			,`ownerId`
			,`buyerId`
			,`name`
			,`company`
			,`price`
			,`imagePath`
			,`description`
			,`boughtDate`
			,`completed`
			,`createdAt`
		FROM
			`product`
		WHERE
			`completed` = #{completed}
		<if test="ownerId != null">
			AND `ownerId` = #{ownerId}
		</if>
		<if test="keyword != null">
			AND (`company` LIKE CONCAT('%', #{keyword}, '%')
			OR `description` LIKE CONCAT('%', #{keyword}, '%'))
		</if>
		<if test="limit != null">
		LIMIT
			#{skip}, #{limit}
		</if>
	</select>
	
	<select id="selectProductById" resultType="com.ms.product.domain.Product">
		SELECT
			`id`
			,`ownerId`
			,`buyerId`
			,`name`
			,`company`
			,`price`
			,`imagePath`
			,`description`
			,`boughtDate`
			,`completed`
			,`createdAt`
		FROM
			`product`
		WHERE
			`id` = #{id}
	</select>
	
	<!-- <select id="selectProductListByOwnerId" parameterType="int" resultType="com.ms.product.domain.Product">
		SELECT
			`id`
			,`ownerId`
			,`name`
			,`company`
			,`price`
			,`imagePath`
			,`description`
			,`boughtDate`
			,`completed`
			,`createdAt`
		FROM
			`product`
		WHERE
			`ownerId` = #{ownerId}
	</select> -->
	
	<!-- <select id="selectProductList" resultType="com.ms.product.domain.Product">
		SELECT
			`id`
			,`ownerId`
			,`name`
			,`company`
			,`price`
			,`imagePath`
			,`description`
			,`boughtDate`
			,`completed`
			,`createdAt`
		FROM
			`product`
		LIMIT
			#{skip}, #{limit}
	</select> -->
	
	<!-- <select id="selectProductListByKeyword" parameterType="String" resultType="com.ms.product.domain.Product">
		SELECT
			`id`
			,`ownerId`
			,`name`
			,`company`
			,`price`
			,`imagePath`
			,`description`
			,`boughtDate`
			,`completed`
			,`createdAt`
		FROM
			`product`
		WHERE
			`company` = #{keyword}
			OR `description` LIKE CONCAT('%', #{keyword}, '%')
		LIMIT
			#{skip}, #{limit}
	</select> -->
	
	<select id="selectLatestThreeProductList" resultType="com.ms.product.domain.Product">
		SELECT
			`id`
			,`ownerId`
			,`buyerId`
			,`name`
			,`company`
			,`price`
			,`imagePath`
			,`description`
			,`boughtDate`
			,`completed`
			,`createdAt`
		FROM
			`product`
		WHERE
			`completed` = false
		ORDER BY `id` DESC
		LIMIT 3
	</select>
	
	<select id="selectProductListByCompleted" parameterType="boolean" resultType="com.ms.product.domain.Product">
		SELECT
			`id`
			,`ownerId`
			,`buyerId`
			,`name`
			,`company`
			,`price`
			,`imagePath`
			,`description`
			,`boughtDate`
			,`completed`
			,`createdAt`
		FROM
			`product`
		WHERE
			`completed` = #{completed}
	</select>
	
	<update id="updateProductCopmletedByProductId" parameterType="int">
		UPDATE
			`product`
		SET
			`buyerId` = #{buyerId}
			,`completed` = true
		WHERE
			`id` = #{productId}
	</update>
</mapper>