<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.ms.vet.mapper.VetMapper">
	<select id="selectCountVetList" resultType="int">
		SELECT
			count(*)
		FROM
			`vet`
	</select>
	
	<select id="selectVetListByXY" parameterType="map" resultType="com.ms.vet.domain.Vet">
		SELECT
			`lastmodts`
			,`id`
			,`name`
			,`siteTelNumber`
			,`approvedDate`
			,`address`
			,`y`
			,`x`
			,`type`
		FROM
			`vet`
		WHERE
			`x` BETWEEN ${min_x} AND ${max_x}
			AND `y` BETWEEN ${min_y} AND ${max_y}
			<if test="type != null">
			AND `type` = #{type}
			</if>
	</select>
	
	<select id="selectVetById" parameterType="int" resultType="com.ms.vet.domain.Vet">
		SELECT
			`lastmodts`
			,`id`
			,`name`
			,`siteTelNumber`
			,`approvedDate`
			,`address`
			,`y`
			,`x`
			,`type`
		FROM
			`vet`
		WHERE
			`id` = #{id}
	</select>

	<update id="updateVet" parameterType="map">
		UPDATE
			`vet`
		SET
			`x` = #{x}
			,`y` = #{y}
		WHERE
			`id` = #{id}
	</update>
</mapper>