@charset "UTF-8";

/* LAYOUT */
header {height: 100px;}
#main-nev {min-height:40px;}
.contents {min-height: 200px;}
footer {height: 100px;}

/* HEADER */

/* MAIN NAV */
.nav-link:hover {background-color: wheat; color: black;}
.nav-link {color: black; font-weight: bold; font-size: 17px;}

/* SECTION */

/* main page */
.banner {height: 500px;}
.recent-product-box {height: 150px;}
.recommend-product-box {height: 150px;}

/* search */
.keywords {font-size:17px; color:black;}
.recent-search-product-img-box {height:150px;}
.product:hover {background-color:gray; cursor:pointer;}
.product-img-box {height:250px;}

/* add product */
#create-btn {font-size:17px; height:45px;}

/* product info */
#product-desc {font-size:17px; white-space: pre-wrap; }
#heart:hover {cursor:pointer;}

/* suggestion */
.recent-product:hover {background-color:gray; cursor:pointer;}
.recommend-product:hover {background-color:gray; cursor:pointer;}

/* log in */
#mv-sign-up-btn {margin-bottom:100px;}

/* sign up */
#sign-up-btn {margin-bottom:100px; font-size:17px; height:45px;}

/* FOOTER */