@charset "UTF-8";

/* LAYOUT */
header {height: 100px;}
#main-nev {min-height:40px;}
.contents {min-height: 200px;}
footer {height: 100px;}
.pointer {cursor:pointer;}

/* HEADER */
#chat-btn:hover {cursor:pointer;}

/* MAIN NAV */
.nav-link:hover {background-color: wheat; color: black;}
.nav-link {color: black; font-weight: bold; font-size: 17px;}

/* SECTION */

/* main page */
.banner {height: 500px;}
.recent-product-box {height: 150px;}
.recommend-product-box {height: 150px;}

/* search */
.keywords {font-size:17px; color:black;}
.recent-search-product-img-box {height:150px;}
.product:hover {background-color:gray;}
.recommend-product-img-box, .recent-product-img-box {position: relative; height:118px; width:118px;}
.recent-search-product-img-box {position: relative; height:150px; width:150px;}
.product-img-box {position: relative; height:250px;}
.crop-img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

/* add product */
#create-btn {font-size:17px; height:45px;}
#preview-box {position: relative; width: 300px; height: 300px;}

/* product info */
#product-desc {font-size:17px; white-space: pre-wrap;}
.product-info-img-box {position:relative; height:400px; width:400px;}

/* user info */
.profile-img-box {position:relative; height:230px;}

/* my page user info update */
#update-preview-box {position:relative; height:300px; width:300px;}

/* suggestion */
.recent-product:hover {background-color:gray;}
.recommend-product:hover {background-color:gray;}

/* log in */
#mv-sign-up-btn {margin-bottom:100px;}

/* sign up */
h5 {margin:0}
.id-check-group { position: relative; display: inline-block; width: 50%;}
#check-dup-btn {font-size:13px; position: absolute; right: 5px; top: 5px;}
#sign-up-btn {margin-bottom:100px; font-size:17px; height:45px;}

/* chat */
.chat-list {font-size:20px;}
.chat {font-size:17px; border-radius: 20px;}
.complete-trade-btn {border-radius:10px;}
.chat-list-img-box {position: relative; height:100px;}
.chat-product-img-box {position: relative; height:150px;}
#send-btn {font-size:18px;}

/* FOOTER */